backend:   
  name: git-gateway   
  branch: master # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow
media_folder: "static/images" # Media files will be stored in the repo under static/images/uploads
public_folder: "/images" # The src attribute for uploaded media will begin with /images/uploads

collections:
  - name: "post" # Used in routes, e.g., /admin/collections/blog
    label: "Post" # Used in the UI
    folder: "content/post/{{slug}}" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "index.md" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Draft", name: "draft", widget: "boolean", default: true, required: false}
      - {label: "Date", name: "date", widget: "date", required: false}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Only Image", name: "showOnlyImage", widget: "boolean", default: false, required: false}
      - {label: "Writer", name: "writer", widget: "string", default: "Chip Keyes"}
      - {label: "Categories", name: "categories", widget: "list"}
      - {label: "Tags", name: "tags", widget: "list", required: false}
      - {label: "Body", name: "body", widget: "markdown", required: false}